---
layout: page
title: Latest Work
---

<!-- Como faço para alterar a ordem em que aparecem os projetos?? -->
<h3>Product Design</h3>
{% for project in site.projects %}
    {% if project.category == "Product Design" %}
        {% include project-thumbnail.html %}
    {% endif%}
{% endfor%}

<h3>Communication Design</h3>
{% for project in site.projects %}
    {% unless project.category == "Product Design" %}
        {% include project-thumbnail.html %}
    {% endunless %}
{% endfor%}
<!-- Aqui é melhor diferente ou unless? -->