---
layout: page
title: Latest Work
---

<!-- Como faço para alterar a ordem em que aparecem os projetos?? -->
<h2>Product Design</h2>
{% assign projects = site.projects | sort: 'order' %}
{% for project in projects %}
    {% if project.category == "Product Design" %}
        {% include project-thumbnail.html %}
    {% endif%}
{% endfor%}

<h2>Communication Design</h2>
{% assign projects = site.projects | sort: 'order' %}
{% for project in projects %}
    {% unless project.category == "Product Design" %}
        {% include project-thumbnail.html %}
    {% endunless %}
{% endfor%}
<!-- Aqui é melhor diferente ou unless? -->