<footer>
    <p class="bigger">Let´s connect!</p>
    <p>Get in touch via <a href="mailto:{{ site.email }}" target="_blank" title="Send me an email" >Email</a> or <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="Go to my LinkedIn">LinkedIn</a>.</p>
    <p>Check my work on <a href="https://www.behance.net/{{ site.behance_username }}" target="_blank" title="Go to my Behance">Behance</a> and <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" title="Go to my Instagram">Instagram</a>!</p>
  <div>
    <p>@2021 by {{ site.title }}</p>
    <p>Lisbon, Portugal</p>
  </div>
</footer>