<footer>
  <p>Let´s connect!</p>
  <p>Get in touch via <a href="mailto:maria.ant@zonmail.pt" target="_blank">Email</a> or <a href="https://www.linkedin.com/in/maria-antunes/" target="_blank" >LinkedIn</a>.</p>
  <p>Check my work on <a href="https://www.behance.net/maria-antunes/" target="_blank">Behance</a> and <a href="https://www.instagram.com/maria.aqui.e.ali/" target="_blank">Instagram</a>!</p>
  <!-- <div>
    {%- include social-media.html -%}
  </div> -->
  <div>
    <p>@2021 by {{ site.title }}</p>
    <p>Lisbon, Portugal</p>
  </div>
</footer>
