<article>
    <a href="{{ project.url | relative_url }}" title="Go to {{ project.title }}"> 
        <figure>
            <img src="assets/img/{{ project.thumbnail_path }}" alt="{{ project.thumbnail_alt }}">
        </figure>
    </a>
    <div class="text-container">
        <h3> {{ project.title }} </h3>
        <div class="timeline-and-category"> {{ project.timeline }} • {{ project.category }}</div>
        <p> {{ project.description }} </p>
        <a href="{{ project.url | relative_url }}" title="Link to {{ project.title }}">Read more about 
            {% if project.small_title %}  
                {{ project.small_title }} 
            {% else %} 
                {{ project.title }} 
            {% endif %} →
        </a>
     </div>
</article>
 