<article>
    <a href="{{ project.url | relative_url }}" title="Go to {{ project.title }}"> 
        <figure>
            <img src=" {{ project.image_path }}" alt=" {{ project.image_alt}}">
        </figure>
    </a>
    <div class="text-container">
        <h3> {{ project.title }} </h3>
        <div class="category"> {{ project.category }} </div>
        <div class="timeline"> {{ project.timeline }} </div>
        <p> {{ project.description }} </p>
        <a href="{{ project.url | relative_url }}" title="Link to {{ project.title }}">Read more about 
            {% if project.small_title %}  
                {{ project.small_title }} 
            {% else %} 
                {{ project.title }} 
            {% endif %} > 
        </a>
     </div>
</article>
 