
// coisas gerais portanto

html {
    font-size: 100%;
}


body {
    font-family: $font-family;
    color: $text-color;
    background-color: $background-color;
    margin: auto;
}

/**
 * Links
 */

a {
    color: $neutral-white-color;
}

a:hover {
    text-decoration: underline;
    color: $primary-color;
}

/**
 * Headings
 */


h2 {
    font-size: $font-size-medium;
    font-weight: 500;
    color: $neutral-white-color;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    color: $neutral-white-color;
}


// para todas as páginas Main

main {
    min-height: calc(100vh - 150px - 236px);
    // não resulta porque na pagina de projeto a 1 imagem tem 0 :(( 
    // padding-left: 5%;
    // padding-right: 5%;
}

.wrapper {
    margin: 0;
    margin-top: 140px;
    @include side-margin;
}

.wrapper-homepage {
    margin: 0;
    margin-top: 140px;
    @include side-margin;
}
