// Variables
$header-height: 8.5rem;
$footer-height: 16rem;

// Geral
html {
    font-size: 100%;
}

body {
    font-family: $font-family;
    color: $text-color;
    background-color: $background-color;
    margin: auto;
}

// Links
a {
    color: $neutral-white-color;

    &:hover {
        color: $primary-color;
        transition-property: color;
        transition-duration: 0.3s;
    }
}

// Headings
h2 {
    font-size: $font-size-medium;
    font-weight: $font-weight-big;
    color: $neutral-white-color;
}

h3 {
    font-size: $font-size-regular-plus;
    font-weight: $font-weight-big;
    margin-bottom: 0.5rem;
    color: $neutral-white-color;
}

// Main
main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

// Wrappers
.wrapper {
    margin: 0;
    margin-top: $header-height;
    @include side-margin;
}

.wrapper-homepage {
    margin: 0;
    margin-top: $header-height;
    @include side-margin;
}