

// neutral
$neutral-black-color: #0F0F0F ;
$neutral-gray-dark-color: #7b7d83 ;
$neutral-gray-color: #AEAFB2 ;
$neutral-gray-light-color: #D2D2D4 ;
$neutral-white-color: #FFFEFB ;
$gradient-header:linear-gradient(180deg, rgba(15,15,15,1) 76%, rgba(0,0,0,0) 200%);
$card-overlay-color:#fffefb11;

// primary
$primary-color: #5C7AFF ;


// para usar
$text-color: $neutral-gray-light-color !default ;
$background-color: $neutral-black-color !default ;