 /* 
 website header 
 */

.website-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 5%;
  padding-right: 5%;
  background: $gradient-header;

  .website-name {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 0;  
      text-decoration: none;
    }

  ul {
      padding-left: 0;
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      max-width: 22rem;

      li {
          list-style: none;
      }
    }

  a {
      font-size: 1.2rem;
      text-decoration: none;
  }
}



/**
 footer
*/

footer {
  padding-bottom: 1.5rem;
  padding-top: 4rem;
  @include side-margin;

  .bigger {
      font-size: 1.3rem;
      font-weight: 500;
      padding-bottom: 1rem;
  }

  p {
      font-size: 1rem;
      margin-bottom: 0;
      line-height: 1rem;
  }

  div {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      p {
          font-size: 0.8rem;
          color: $neutral-gray-dark-color;
          padding-right: 1rem;
      }
  }
}


/**
 Layout Home
*/
// especifico da  — 1ºsecção

.introduction {
    margin-top: 48vw;
   .emoji {
      font-size: 2rem; 
      margin-bottom: 0;
   } 
    .main-title-home {
      font-size: $font-size-big;
      font-weight: 600;
      line-height: 2.5rem;
      text-transform: none;
      color: $neutral-white-color;
      margin-top: 1rem;
    }
    p {
      font-size: $font-size-medium;
      font-weight: $font-weight-regular;
    }
}

// especifico da  — 2ºsecção

.best-projects {
  margin-top: 3rem;
}


/**
 Project thumbail GERAl (home e página de projeto)
*/
// especifico para os artigos 

.grid-container {
  article {
      margin-bottom: 6rem;

      figure {
          margin: 0;
          max-height: 580px;

          img {
              margin: 0px;
              width: 100%;
              max-height: 580px;
              object-fit: cover;
          }
      }
      .timeline-and-category {
          color: $neutral-gray-color;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 500;
      }
      p {
          color: $text-color;
      }
  }
}



/**
 Layout page (o h1 da página ex:"About, Contact, Latest Work")
*/

article {
  h1 {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
      color: $neutral-gray-dark-color;
  }
}

/**
 Layout projectpage
*/

.project-content {
    margin-bottom: 0;
    header {
        margin-bottom: 2rem;

        figure {
            margin: 0;
            margin-top: 135px;
        }
        img {
            margin: 0;
            width: 100%;
            object-fit: cover;
        }
        div {
            @include side-margin;
            max-width: $text-box-size;

            h1 {
                margin-top: 1.5rem;
                font-size: $font-size-medium;
                font-weight: 500;
                color: $neutral-white-color;
                text-transform: none;
            }
        }
    }

    .content-wrapper{
        @include side-margin;

        h2 {
            margin-top: 2.5rem;
        }

        p {
            @include body-regular;
        }

        .project-overview {
            display: flex;
            flex-wrap: wrap;
            background-color: $card-overlay-color;
            border-radius: 4px;
            padding: 1.5rem;
            padding-left: 10%;
            padding-right: 10%;
            justify-content: center;
            section {
                width: 200px;
                padding-bottom: 1rem;
                h2 {
                    @include category;
                    color: $neutral-gray-dark-color;
                    margin: 0;
                }
                ul {
                    margin: 0;
                    padding: 0;
                }
                li {
                    list-style: none;
                }
                li, p {
                    color: $neutral-gray-color;
                }
            }   
        }

        .challenge, .process, .takeaways {
            p,li {
                max-width: $text-box-size;
                padding-bottom: 1rem;
            }
        }

        .takeaways {
            margin-bottom: 3rem;
            ul {
                margin: 0;
                padding-left: 20px;
            }
        }
    }

    .process {
        figure {
            margin: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            overflow-x: scroll;
            display: flex;
            min-height: 320px;
            height: 60vw;
            max-height: 580px; 

            > * {
                height: 100%;
                margin-right: 16px;
            }
        }
    }
}  

// coisas especificas para o layout do about
.about-introduction {
    margin-bottom: 2.5rem;
    .container {
        max-width: 540px;
    }
    figure {
        margin: 0;
        margin-top: 2rem;
        max-width: 250px;
    }
    img {
        margin: 0;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    .emoji {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: $font-size-bigger; 
     } 
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    section {
        width: 300px;
        h2 {
            @include category;
        }
        ul {
            margin-bottom: 2.5rem;
            padding-left: 0;
        }
    
        li {
            list-style: none;
            padding-bottom: 0.4rem;
        }
    }
}

// para a página dos contacts

.contact-container {
    .emoji {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: $font-size-bigger; 
     } 
    .highlight {
        font-size: 1.6rem;
        font-weight: 500;
        color: #FFFEFB;
      }
}
