/* tablet */

$breakpoint-tablet: 778px;
@media (min-width: $breakpoint-tablet) {
    
    $background-color: #021410;
    body {
        background-color: $background-color;
    }

    .website-header {
        display: flex;
        justify-content: space-between;
        ul {
            margin-top: 0.3rem;
            width: 22rem;
        }
    }

    .wrapper-homepage {
        margin-top: 80px;
    }

    //homepage
    .introduction {
        .emoji {
            font-size: 3rem; 
        } 
        .main-title-home {
            font-size: $font-size-bigger;
            margin-top: 2rem;
        }
        p {
            font-size: $font-size-big;
        }
    }


    // about
    .about-introduction {
        .container {
            min-width: 300px;
            max-width: 80%;
            padding-right: 2rem;
            p {
                font-size: $font-size-medium;
            }
        }
    }

    //project page
    .project-content {
        header {
            figure {
                margin: 0;
                margin-top: 77px;
            }
        }
        .content-wrapper{
            .project-overview { 
                padding-left: 2%;
                padding-right: 2%;
                flex-wrap: nowrap;
                section {
                    width: auto;
                    padding-right: 8%;
                    padding-bottom: 0;
                }
                section:last-child {
                    padding-right: 0;
                } 
            }
        }
    }

    // animação do DVD
    .box{
        height: 400px;
        .dvd {
            animation: moveX 8s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
            @keyframes moveY {
                from { top: 0; } to { top: calc(400px - 69px); }
            }
        } 
    }
}

/* small desktop */

$breakpoint-desktop: 1060px;
@media (min-width: $breakpoint-desktop) {

    //$background-color: #1a1527;
    body {
        background-color: $background-color;
    }

    .project-content {
        .content-wrapper{
            .project-overview { 
                justify-content: space-evenly;  
            }
        }
    }

    //grid da homepage e do latest work
 
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        article:first-child{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .communication-design-projects {
        .grid-container {
            article:first-child{
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }

}


