// margem de lado para todo o conteudo
@mixin side-margin {
    margin-left: 5%;
    margin-right: 5%;
  }


// estilos tipograficos:

// estilo de texto / paragrafo
@mixin body-regular {
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    margin: 0;
  }

@mixin category {
  @include body-regular;
  text-transform: uppercase;
  font-weight: $font-weight-big;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
