// margem de lado para todo o conteudo
@mixin side-margin {
    padding-left: 5%;
    padding-right: 5%;
  }



// estilos tipograficos:

// estilo de texto / paragrafo
@mixin body-regular {
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    margin: 0;
  }